/* 전체 공통 */
html,
body {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: default;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: none;
}

.section {
    width: 100%;
    margin: 0 auto;
}

.buttons > button {
    float: left;
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    outline: none;
    background-color: #ffffff;
    transition: 0.3s;
}

.buttons > .btn-prev {
    background-image: url("../images/main/prev.svg");
}

.buttons > .btn-next {
    background-image: url("../images/main/next.svg");
}

.buttons > button > span {
    display: none;
}

.buttons > .btn-prev:hover {
    background-image: url("../images/main/prev-hover.svg");
    background-color: #02a5c4;
    border: none;
}

.buttons > .btn-next:hover {
    background-image: url("../images/main/next-hover.svg");
    background-color: #02a5c4;
    border: none;
}

/* ----- 헤더 ----- */
#header {
    position: fixed;
    width: 100%;
    z-index: 100;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
}

#header::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    z-index: 900;
}

#header > #header1200 {
    position: relative;
    background-color: transparent;
    width: 1200px;
    margin: 0 auto;
    height: 80px;
    z-index: 90;
}

#header > #header1200 > #logo {
    float: left;
    width: 200px;
    height: 100%;
    overflow: hidden;
}

#header > #header1200 > #logo > a {
    display: block;
    width: 100%;
    height: 100%;
}

#header > #header1200 > #logo > a > img {
    display: block;
    max-width: 100%;
    margin-top: 5px;
}

#header > #header1200 > #gnb {
    float: left;
    width: calc(100%-180px);
    height: 100%;
}

#header > #header1200 > #gnb > li {
    float: left;
    height: 100%;
}

#header > #header1200 > #gnb > li > a {
    display: block;
    width: 117px;
    height: 100%;
    line-height: 80px;
    font-size: 18px;
    font-weight: 600;
}

#header > #header1200 > #gnb > li > .sub-menu {
    width: 100%;
    display: none;
}

.sub-menu > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
}

.sub-menu > li > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.sub-menu > li:hover {
    color: #02a5c4;
    font-weight: bold;
}

.sub-menu > li > a::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ccedf3;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}

.sub-menu > li:hover > a::before {
    opacity: 1;
}

#header > #header1200 > #gnb-right {
    float: right;
    height: 100%;
    cursor: pointer;
}

#gnb-right > li {
    float: left;
    width: 40px;
    height: 20px;
    margin-top: 30px;
}

#gnb-right > li > .search-icon {
    width: 20px;
    height: 20px;
    background: url("../images/search.png");
    background-size: 20px 20px;
    border: none;
    outline: none;
}

#gnb-right > li > .login-icon {
    width: 20px;
    height: 20px;
    background: url("../images/login.png");
    background-size: 20px 20px;
    border: none;
    outline: none;
}

#gnb-right > li > .location-icon {
    width: 20px;
    height: 20px;
    background: url("../images/location.png");
    background-size: 20px 20px;
    border: none;
    outline: none;
}

#gnb-right > li > button > span {
    display: none;
}

#sub-bg {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(2, 165 ,196 , 0.8);
    border-top: 1px solid #ffffff;

}

#sub-bg > span {
    display: none;
}

/* 모달 - 공통 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    transition: 0.3s ease-in-out;
    z-index: 9999;
}

.modal.open { display: block;}

.modal-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-box {
    width: 540px;
    height: 360px;
    background: #fff;
    padding: 57px 50px 50px;
}

.modal-box .modal-logo {
    width: 160px;
    margin: 0 auto;
}

.modal-logo > img {
    max-width: 100%;
}

.modal-box > .modal-close {
    position: absolute;
    top: 7%;
    right: 5%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background: url("../images/close-btn.svg") no-repeat center;
    background-color: transparent;
}

.modal-box > .modal-close > span {
    display: none;
}

/* 모달 - 검색 */
#searchForm {
    position: relative;
    margin-top: 60px;
}

#searchForm > input {
    width: 83%;
    height: 55px;
    border: 1px solid #C6C6C6;
    padding: 0 65px 0 25px;
    font-size: 15px;
    outline: none;
}

#searchForm > a {
    position: absolute;
    top: 0;
    right: 10px;
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-image: url("../images/sub2/search-dark.png");
    background-repeat: no-repeat;
}

#searchForm > a > span { display: none;}

.tag-list {
    width: 100%;
    height: 15px;
    margin: 25px auto;
    margin-bottom: 0;
    font-size: 15px;
    text-align: center;
    color: #999999;
}

.tag-list::after {
    content: "";
    display: block;
    clear: both;
}

.tag-list > li {
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    background-color: #ebebeb;
    border-radius: 20px;
}

.tag-list > li > a {
    width: 100%;
    height: 100%;
}

/* 모달 - 로그인 */
.login-input-box {
    margin-top: 40px;
}

.login-input-box > input {
    position: relative;
    width: 83%;
    height: 55px;
    border: 1px solid #C6C6C6;
    padding: 0 65px 0 25px;
    font-size: 15px;
    outline: none;
}

.login-input-box > input + * {
    margin-top: 15px;
}

.login-btn {
    width: 100%;
    height: 55px;
    background-color: #02a5c4;
    text-align: center;
    color: #fff;
    font-size: 17px;
}

.login-member {
    width: 300px;
    margin: 25px auto;
    margin-bottom: 0;
    font-size: 15px;
    text-align: center;
    color: #555555;
}

.login-member::after {
    content: "";
    display: block;
    clear: both;
}

.login-member > li:nth-child(1) {
    float: left;
    width: 100px;
}

.login-member > li:nth-child(2) {
    float: left;
    width: 180px;
    border-left: 2px solid #cccccc;
}

.login-member > li > a {
    width: 100%;
    height: 100%;
}

/* 모달 - 위치 */
.location-list {
    margin: 60px auto;
}

.location-list > li::before {
    content: "";
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.location-list > li:nth-child(1):before {
    background: url("../images/location.svg") no-repeat center;
}
.location-list > li:nth-child(2):before {
    background: url("../images/park.svg") no-repeat center;
}

.location-list > li {
    float: left;
    width: 100%;
    height: 60px;
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}

.location-list > li:nth-child(1) {
    border-top: 1px solid #777777;
}

.location-list > li > strong {
    font-weight: 900;
    display: block;
    margin-bottom: 20px;
}

/* 메인 배너 */
#m-banner {
    position: relative;
    width: 100%;
    height: 687px;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}

#m-banner > img {
    width: 100%;
    height: 100%;
    animation: main_ani 4s forwards;
}

@keyframes main_ani {
    from {transform: scale(1.4);}
    to {transform: scale(1);}
}

#m-banner > #m-banner-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#m-banner-txt > p {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
}

#m-banner-txt > h2 {
    width: 100%;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 20px;
}

/* section01 */
#section01 {
    height: 230px;
    margin-top: 60px;
}

#section01 > #icon-menu {
    width: 700px;
    height: 100%;
    margin: 0 auto;
}

#section01 > #icon-menu > li {
    float: left;
    width: 200x;
    height: 100%;
    cursor: pointer;
}

#section01 > #icon-menu > li:nth-child(2)::after {
    content: "";
    display: block;
    width: 2px;
    height: 180px;
    background: #f5f5f5;
    transform: translateY(-100%);
}

#section01 > #icon-menu > li:nth-child(3)::after {
    content: "";
    display: block;
    width: 2px;
    height: 180px;
    background: #f5f5f5;
    transform: translateY(-100%);
}

#section01 > #icon-menu > li:nth-child(2) {
    opacity: 1;
}

#section01 > #icon-menu > li:hover > a {
    opacity: 1;
    transform: translateY(-10px);
    transition: 0.3s;
}

#section01 > #icon-menu > li > a > img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 40px auto;
}

#section01 > #icon-menu > li > a > span {
    display: block;
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    color: #02a5c4;
}

/* section02 */
#section02 {
    margin-top: 160px;
}

#section02 > * {
    opacity: 0;
}

#inquiry-top {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

#inquiry-top::after {
    content: "";
    display: block;
    clear: both;
}

#search {
    position: relative;
    float: left;
    display: block;
    width: 340px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 60px;
    background-color: #f5f5f6;
    padding: 0;
}

#search > a {
    position: absolute;
    top: 0;
    right: 10px;
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-image: url("../images/sub2/search-dark.png");
    background-repeat: no-repeat;
}

#search > a > span { display: none;}

#search > input {
    width: 270px;
    height: 58px;
    box-sizing: border-box;
    border-radius: 60px;
    border: none;
    outline: none;
    padding: 5px;
    margin-bottom: 1em;
    padding-left: 30px;
    background-color: transparent;
}

#inquiry-top > .inquiry-write {
    float: right;
    width: 150px;
    height: 50px;
    border: 1px solid #777777;
    border-radius: 60px;
    transition: 0.5s;
}

#inquiry-top > .inquiry-write > a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 60px;
}

#inquiry-top > .inquiry-write > a > img {
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 25px;
    margin-top: 10px;
}

#inquiry-top > .inquiry-write > a > span {
    float: left;
    display: block;
    font-size: 20px;
    line-height: 50px;
    margin-left: 10px;
}

#inquiry-top > .inquiry-write:hover {
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
}


#inquiry-center {
    width: 1200px;
    margin: 0 auto;
}

#inquiry-center > ul {
    width: 1200px;
}
#inquiry-center > ul > li {
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    padding: 30px 0;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}

#inquiry-center > ul > li > div {
    float: left;
}

#inquiry-center > ul > li > .state {
    width: 170px;
}

#inquiry-center > ul > li > .state > span {
    display: block;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    margin-left: 20px;
    border: 1px solid #02a5c4;
    background-color: #02a5c4;
    color: #ffffff;
}

#inquiry-center > ul > li > .state > span.wait {
    border: 1px solid #777777;
    background-color: #ffffff;
    color: #000000;
}


#inquiry-center > ul > li > .inquiry {
    width: 680px;
    font-size: 20px;
    text-align: left;
    text-indent: 20px;
}

#inquiry-center > ul > li > .inquiry > strong {
    float: left;
}

#inquiry-center > ul > li > .inquiry > strong:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

#inquiry-center > ul > li > .inquiry > strong::after {
    float: right;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    background: url("../images/sub2/lock.png");
}

#inquiry-center > ul > li > .name {
    width: 140px;
}

#inquiry-center > ul > li > .date {
    width: 210px;
}

#inquiry-bottom {
    width: 1200px;
    margin: 0 auto;
}

#inquiry-bottom > ul {
    width: 320px;
    height: 30px;
    margin: 40px auto;
}

#inquiry-bottom > ul > li {
    float: left;
    height: 30px;
    margin: 0 10px;
}

#inquiry-bottom > ul > li > a {
    display: block;
    width: 30px;
    height: 30px;
}

#inquiry-bottom > ul > li > a > img {
    width: 30px;
    height: 30px;
}

.num-list > li {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    text-align: center;
    line-height: 30px;
}

.num-list > li.on {
    background-color: #02a5c4;
    border-radius: 50%;
    color: #ffffff;
}

.num-list > li > a {
    display: block;
    width: 30px;
    height: 30px;
}

/* ----- section03 ----- */
#section03 {
    width: 100%;
    margin-top: 200px;
    overflow: hidden;
}

#section03 > h3 {
    font-family: 'Libre Caslon Text', serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 60px;
    transform: translateY(50%);
    opacity: 0;
}

#section03 > p {
    line-height: 30px;
    text-align: center;
    transform: translateY(30px);
    opacity: 0;
}

#section03 > .contents {
    width: 1200px;
    margin: 80px auto;
    transform: translateY(50%);
    opacity: 0;
}

#section03 > .contents::after {
    content: "";
    display: block;
    clear: both;
}

#section03 > .contents > .left-box {
    float: left;
    width: 520px;
    height: 560px;
    padding: 40px;
    padding-top: 60px;
    background-color: #f5f5f5;
}

#section03 > .contents > .left-box > .information {
    width: 100%;
}

#section03 > .contents > .left-box > .information > h4 {
    font-size: 30px;
    font-weight: 900;
    line-height: 60px;
}

.info1 > p {
    line-height: 20px;
    margin-bottom: 40px;
}

#section03 > .contents > .left-box > .info1 > ul {
    width: 100%;
    margin-bottom: 60px;
}

.info1 > ul::after {
    content:"";
    display: block;
    clear: both;
}

.info1 > ul > li {
    float: left;
    width: 50%;
}

.info1 > ul > li > p:nth-of-type(1) {
    font-size: 24px;
    line-height: 40px;
}

.info1 > ul > li > p:nth-of-type(2) {
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
}

.info2 > ul {
    width: 100%;
}

.info2 > ul::after {
    content:"";
    display: block;
    clear: both;
}

.info2 > ul > li {
    float: left;
    width: 50%;
}

.info2 > ul > li > p:nth-of-type(1) {
    font-size: 24px;
    line-height: 40px;
    margin-top: 20px;
}

.info2 > ul > li > p:nth-of-type(2) {
    line-height: 30px;
    margin-bottom: 20px;
}

.info2 > ul > li > .medical-time {
    width: 100%;
}

.info2 > ul > li > .medical-time > li {
    margin-bottom: 10px;
}

.info2 > ul > li > .medical-time > li:nth-of-type(4) {
    margin-bottom: 0;
}

#section03 > .contents > .right-box {
    float: left;
    width: 50%;
    height: 660px;
    background-color: #777777;
    background-image: url("../images/map.png");
}

/* ----- 푸터 ----- */
#footer {
    width: 100%;
    height: 260px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.6);
}

.footer1200 {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.ft-left, .ft-right {
    margin: 40px 0;
}

.ft-left {
    float: left;
    width: 500px;
}

.ft-left > #ft-logo {
    width: 180px;
    height: 60px;
    margin-bottom: 40px;
    opacity: 0.6;
}

#ft-logo > a, #ft-logo > a > img {
    display: block;
    width: 100%;
    height: 100%;
}

.ft-left > p {
    line-height: 20px;
}

.ft-right {
    float: right;
    width: 360px;
}

.ft-right > ul {
    width: 100%;
    margin-bottom: 60px;
}

.ft-right > ul::after {
    content: "";
    display: block;
    clear: both;
}

.ft-right > ul > li {
    float: left;
    height: 30px;
    line-height: 30px;
    transition: 0.3s;
}

.ft-right > ul > li:hover {
    color: #ffffff;
}

.ft-right > ul > li:nth-of-type(2) {
    margin: 0 20px;
}

.ft-right > ul > li > a {
    display: block;
    height: 100%;
}

.ft-right > ul:nth-of-type(2) {
    width: 40%;
    margin-left: 200px;
}

.ft-right > ul:nth-of-type(2) > li > a {
    width: 30px;
    height: 30px;
}

.ft-right > ul:nth-of-type(2) > li > a > img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: 0.3s;
}

.ft-right > ul > li:hover > a > img {
    opacity: 1;
}

.ft-right > ul:nth-of-type(2) > li:nth-of-type(2) > a > img {
    width: 95%;
    height: 100%;
}


/* ----- top 버튼 ----- */
.go-top {
    width: 70px;
    height: 70px;
    position: fixed;
    background-color: #ffffff;
    background-image: url("../images/top-btn.svg");
    border-radius: 50%;
    box-shadow: 3px 4px 10px 2px rgba(0,0,0,0.2);
    right: 70px;
    bottom: 70px;
    display: none;
    transition: 0.3s;
}
.go-top:hover {
    background-color: #000000;
    background-image: url("../images/top-btn-hover.svg");
}

.go-top > span {
    display: none;
    margin-top: 15px;
    font-weight: 900;
    text-align: center;
}

/* parallax */
#section02 > *.move {
    opacity: 1;
    transition: 1s;
}
#section03 > h3.move {
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
}
#section03 > p.move {
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
}
#section03 > .contents.move {
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
}
